/*
=====================================================================
*   adapted from Woo v1.0 Layout Stylesheet
*   url: styleshout.com
*   05-02-2014
*   last revised 2014-07-22
=====================================================================

   TOC:
   General and Common Styles
   Header Styles
   Hero 
   Home 
   News 
   Registration
   venue
   Calendar 
   Testimonials
   Footer

===================================================================== */

html, body {
    height: 100%;
}

/* a. Making iframes "responsive" */
iframe{
    width: 70vw !important;
    height: 60vh !important;
}

/* ------------------------------------------------------------------ */
/* a. General and Common Styles
/* ------------------------------------------------------------------ */

.section-head {
  	padding: 0 4%;
    text-align: center;
}
.section-head h1 {
    font: 40px/54px 'robotobold', sans-serif;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
    height: 54px;
    width: 100%;
    /*background: #13171B;*/
    background-color: #333;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 990;
}

/* header social */
header .header-social {
    font-size: 24px;
    font-weight: normal;
    line-height: 54px;
    /*color: #424a56;*/
    color: #eee;
    margin: 0 10px 0 0;
    padding: 0;
    float: right;
}
header .header-social li {
   display: inline-block;
   margin-right: 20px;
}
/*header .header-social li a { color: #bb3e3e; }*/
/*header .header-social li a:hover { color: #fff270; }*/
header .header-social li a { 
    color: #eee; 
}
header .header-social li a:hover { 
    color: #cd5c5c; 
}

/* primary navigation
--------------------------------------------------------------------- */

#nav-wrap, #nav-wrap ul, #nav-wrap li, #nav-wrap a {
    background-color: #333;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

/* nav-wrap */
#nav-wrap {
    font: 14px  'robotomedium', sans-serif;
    font-weight: normal;
    background-color: #333;
    letter-spacing: 1px;
    float: left;
    padding: 0 1%;
    text-transform: uppercase;
}

/* hide toggle button */
#nav-wrap > a { 
    display: none; 
}

ul#nav {
   min-height: 54px;
   width: auto;
   
   /* left align the menu */
   text-align: left;
}
ul#nav li {
    background-color: #333;
    position: relative;
    list-style: none;
    height: 54px;
    display: inline-block;
}

/* Links */
ul#nav li a {
    background-color: #333;

    /* 8px padding top + 8px padding bottom + 38px line-height = 54px */
    display: inline-block;
    padding: 8px 8px;
    line-height: 38px;
    text-decoration: none;
    text-align: left;
    color: #eee;

	-webkit-transition: color .1s ease-in-out;
	-moz-transition: color .1s ease-in-out;
	-o-transition: color .1s ease-in-out;
	-ms-transition: color .1s ease-in-out;
	transition: color .1s ease-in-out;
}
ul#nav li a:hover { 
    color: #cd5c5c; 
}
ul#nav li a:active { 
    background-color: transparent !important; 
}
ul#nav li.current a { 
    color: #cd5c5c; 
}

/* ------------------------------------------------------------------ */
/* c. Hero Section
/* ------------------------------------------------------------------ */

#hero {
    margin-top: 0px;
    padding-top: 55px;
    background: none transparent;
    background: rgba(245,245,245,0.1) url("../images/ukk.jpg") center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    
    overflow: visible;
}

#hero .hero-row {
    width: 100%;
    /*max-width: 1040px;*/
    background: none transparent;
}

/* Hero Elements */
.hero-img {
    width: 75%;
    text-align: center;
    padding: 15px;
    margin: 70px auto 24px auto;
    background: rgba(245, 245, 245, 0.85);
    border: 1px solid #777;
    
    -webkit-box-shadow: 0px 0px 10px #777;
    -moz-box-shadow: 0px 0px 10px #777;
    -o-box-shadow: 0px 0px 10px #777;
    box-shadow: 0px 0px 10px #777;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
.hero-text {
    color: #333;
    width: 100%;
    text-align: center;
    margin: 54px auto 24px auto;
}
.hero-text h1 {
    font-family: sans-serif; 
    font-weight: bold;
    color: #444;
    padding: 0;
    margin: 0;
    letter-spacing:2px;
}
.hero-text h1 span, .hero-text a { 
    color: #ccc; 
}
.hero-text p {
    font: 16px/30px 'robotoregular', sans-serif;
    padding: 0;
    margin: 12px 8% 0;
    color: #333;
}

/* ------------------------------------------------------------------ */
/* home Section
/* ------------------------------------------------------------------ */

#about {
    background: #fafafa;
    padding-top: 77px;
    padding-bottom: 77px;
    overflow: hidden;
}

/* ------------------------------------------------------------------ */
/* Invited Speakers Section
/* ------------------------------------------------------------------ */

#speakers {
    background: #fff;
    padding-top: 77px;
    padding-bottom: 77px;
    overflow: hidden;
    text-align: center;
}

/* ---------------- Speaker Card Environment ------------- */
#card-collection {
    width: 100%;
    margin: 50px auto 50px auto;
    background: none transparent;
    overflow: hidden;
    text-align: center;
}

#card {
    display: inline-block;
    height: 350px;
    width: 250px;
    
    padding: 15px;
    margin: 0px 20px 50px 20px;
    
    text-align: center;
}

#card .head {
    display: inline-block;
    width: 175px;
    height: 175px;
    
    margin: 10px auto 10px auto;
    
    border: 2px solid #333;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}

#card h2 {
    color: #333;
    font-family: 'robotomedium', sans-serif;
    font-size: 22pt;
    text-decoration: none;
}

#card h3 {
    color: #cd5c5c;
    font-family: 'robotomedium', sans-serif;
    font-size: 16pt;
    text-decoration: none;
}

#card div {
    display: inline-block;
    margin: 5px auto 5px auto;
    
    color: #333;
    font-size: 28pt;
    font-family: 'robotoregular', sans-serif;
    text-decoration: none;
    text-align: center;
}

#card a {
    color: #333;
}

#card a:hover {
    color: #cd5c5c;
    
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}

#card p {
    display: inline-block;
    font-family: 'robotoregular', sans-serif;
    font-size: 12pt;
    line-height: 18pt;
    text-decoration: none;
    text-align: left;
}

/* ------------------------------------------------------------------ */
/* News
/* ------------------------------------------------------------------ */

#news {
    background: #fafafa;
    padding-top: 77px;
    padding-bottom: 77px;
}

/*----------------------------------------------*/
/*	Registration Section
/*----------------------------------------------*/

#registration {
    background: #fff ;
    padding-top: 77px;
    padding-bottom: 77px;   
    text-align: center;
}
#registration .price-block {
    background: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 36px;
   
    border-top: 5px solid #f2f2f2;
    border-bottom: 5px solid #f2f2f2; 
}
.plan-title {
    font: 15px/30px 'robotoregular', sans-serif;
    padding: 30px 20px 6px 20px;
    margin-bottom: 0px;
    color:#222;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.plan-title .fa {
    display: block;
    margin-bottom: 6px;
    font-size: 26px;
}
.plan-price {
    font-family: 'helvetica', sans-serif;
    font-size: 30px;
    color: #222;
    padding: 6px 30px 6px 30px;
    margin-bottom: 0;
    text-align: center;
    letter-spacing: .5px;
}

.plan-sign-up {
    padding: 24px 15px;
    margin: 0;
    text-align: center;
    background:#fff;
}

.plan-sign-up .button {
    font: 13px/24px 'robotomedium', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* ------------------------------------------------------------------ */
/* calendar
/* ------------------------------------------------------------------ */

#calendar {
   background: #fafafa;
   padding-top: 77px;
   padding-bottom: 77px;
   width: 100%;
   
   display: inline-block;
   text-align: center;
}

#calendar p {
    color: #333;
    font-family: 'robotoregular', sans-serif;
    /*font-size: 13pt;*/
}

#calendar #open {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#calendar #day {
    display: inline-block;
    margin: 30px auto 10px auto;
    height: auto;
    width: 100px;
    
    color: #cd5c5c;
    font-family: 'robotregular', sans-serif;
    font-size: 20pt;
    text-align: center;
    line-height: 22pt;
}

#calendar #day:hover {
    opacity: 0.8;
    
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

#calendar #dash {
    display: inline-block;
    margin: 30px auto 10px auto;
    height: 60px;
    width: 50px;
    
    color: #cd5c5c;
    font-family: 'robotregular', sans-serif;
    font-size: 20pt;
    text-align: center;
    line-height: 22pt;
}

#calendar #day i {
    font-size: 24pt;
}

/* invisible checkbox for calendar function */
label[for^="_"].collapse {
    display: inline-block;
    cursor: pointer;
}
label[for^="_"].collapse + input {
    display: none;
}

label[for^="_"].collapse + input#_mon ~ div#_mon {
    display: inline-block;
    height: 0;
    margin-bottom: 0px;
    
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
    
    overflow: hidden;
}
label[for^="_"].collapse + input#_mon:checked ~ div#_mon {
    display: inline-block;
    height: 500px;
    margin-bottom: 20px;
    
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}
label[for^="_"].collapse + input#_tue ~ div#_tue {
    display: inline-block;
    height: 0;
    margin-bottom: 0px;
    
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
    
    overflow: hidden;
}
label[for^="_"].collapse + input#_tue:checked ~ div#_tue {
    display: inline-block;
    height: 500px;
    margin-bottom: 20px;
    
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}
label[for^="_"].collapse + input#_wed ~ div#_wed {
    display: inline-block;
    height: 0;
    margin-bottom: 0;
    
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
    
    overflow: hidden;
}
label[for^="_"].collapse + input#_wed:checked ~ div#_wed {
    display: inline-block;
    height: 500px;
    margin-bottom: 20px;
    
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}
label[for^="_"].collapse + input#_thu ~ div#_thu {
    display: inline-block;
    height: 0;
    margin-bottom: 0;
    
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
    
    overflow: hidden;
}
label[for^="_"].collapse + input#_thu:checked ~ div#_thu {
    display: inline-block;
    height: 500px;
    margin-bottom: 20px;
    
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}
label[for^="_"].collapse + input#_fri ~ div#_fri {
    display: inline-block;
    height: 0;
    
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
    
    overflow: hidden;
}
label[for^="_"].collapse + input#_fri:checked ~ div#_fri {
    display: inline-block;
    height: 500px;
    
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}

.day-schedule {
    width: 100%;
    float: left;
    
    background: #fff;
    border-radius: 5px;
}

.day-schedule h1 {
    margin: 20px auto 20px auto;
    
    color: #333;
    font-family: 'robotoregular', sans-serif;
    font-size: 20pt;
}

/* ------------------------------------------------------------------ */
/* venue
/* ------------------------------------------------------------------ */

#venue {
   background: #fff;
   padding-top: 77px;
   padding-bottom: 77px;
   overflow: hidden;
}

/* ------------------------------------------------------------------
/* h. Testimonials
/* ------------------------------------------------------------------ */

#testimonials {
   background: #2c5977 url(img/escheresque.png);
   padding-top: 112px;
   padding-bottom: 66px;
   position: relative;
   min-height: 198px;
   width: 100%;
   overflow: hidden;
   text-align: center;
}

#testimonials .quote-left, 
#testimonials .quote-right {
   position: absolute;
   top: 50%;
   color: #fff;
   font-size: 40px;
   margin-top: -25px;
}
#testimonials .quote-left { left: 5%; }
#testimonials .quote-right { right: 5%; }

#testimonials .text-container {
   width: 86%;
   margin: 0 auto;
}

/*	Blockquotes */
#testimonials blockquote {
   margin: 0 0px 30px 0px;
   padding-left: 0;
   position: relative;   
}
#testimonials blockquote:before { content: none; }
#testimonials blockquote p {
   font-family: 'robotomedium', sans-serif;
   font-style: normal;
   color: #fff;
   padding: 0;
   font-size: 26px;
   line-height: 42px;   
}
#testimonials blockquote cite {
   display: block;
   font-size: 12px;
   font-style: normal;
   line-height: 18px;
   color: #fff;
}
#testimonials blockquote cite:before { content: "\2014 \0020"; }
#testimonials blockquote cite a,
#testimonials blockquote cite a:visited { color: #8B9798; border: none }

/* ------------------------------------------------------------------ */
/* Footer
/* ------------------------------------------------------------------ */

footer {
    padding-top: 84px;
    margin-bottom: 0px;
    background: #333;
    color: #ddd;
    font-size: 13px;
    line-height: 24px;
    position: relative;
}

footer a, footer a:visited { color: #bb3e3e; }
footer a:hover, footer a:focus { color: #fff; }

footer .info { padding-right: 90px; }

footer .footer-logo a {
    display: block;
    margin-bottom: 12px;
    margin-top: 12px;
    margin-left: 3px;
}
footer .footer-logo a img {
    height: 24px;
    width: 92px;
}

footer .right-cols .columns {
    padding-right: 5px;
    padding-left: 5px;
    width: 33.33333%; ;
}
footer .right-cols .columns p { margin-bottom: 6px; }

footer h3 {
   font: 13px/24px 'robotomedium', sans-serif;
   margin-bottom: 0;
   font-weight: normal;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 1px;
}
footer h3:before {
   font-family: 'FontAwesome';   
	margin: 0 0 6px 3px;
	font-size: 30px;
   line-height: 48px;
   text-align: left;
   color: #738291;
   display: block;
}
footer h3.address:before { content: "\f041"; }
footer h3.social:before { content: "\f0c0"; }
footer h3.contact:before { content: "\f0e0"; }

footer ul {
   margin: 0;
   padding: 0;
}
footer ul li {
   margin: 0;
   line-height: 24px;
}
footer ul li a,
footer ul li a:visited { color: #bb3e3e; }
footer ul li a:hover,
footer ul li a:focus { color: #fff; }

/* copyright */
footer .copyright {
   margin: 0;
   padding: 0 18px;
   clear: both;
}

#go-down {
    position: relative;
    width: 60px;
    top: 30px;
    left: 50%;
    margin-left: -30px;
    text-align: center;
    vertical-align: center;
}
#go-down a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    color: #333;
    font-size: 36px;
    line-height: 60px;
    
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
 	border-radius: 100%;
}
#go-down a:hover { 
    background: rgba(51, 51, 51, 0.2);
    color: #444;
}

/* Go To Top Button */
#go-top {
	position: absolute;
	top: -24px;
    left: 50%;
    margin-left: -30px;
    text-align: center;
    z-index: 889;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background: #525252;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    color: #fff;
    font-size: 21px;
    line-height: 60px;
 	border-radius: 100%;
}
#go-top a:hover { 
    background: #0F9095; 
}

#top {
   padding-top: 66px;
   padding-bottom: 30px;
   background: #0B486B;
   overflow: hidden;
}

.top-text h1 {
   font: 40px/1.2em  'robotomedium', sans-serif;
   color: #fff;
   padding: 0;
   margin: 0;
   letter-spacing:2px;
}
#top p {color:#fff}
#top a {color:#fff270}
/* ------------------------------------------------------------------ */
/* Sunday Section
/* ------------------------------------------------------------------ */

#sunday {
   background: #eee;
   padding-top: 78px;
   padding-bottom: 54px;
   overflow: hidden;
}

/* ------------------------------------------------------------------ */
/* Monday Section
/* ------------------------------------------------------------------ */

#monday {
   background: #fff;
   padding-top: 78px;
   padding-bottom: 54px;
   overflow: hidden;
}
/* ------------------------------------------------------------------ */
/* Monday Section
/* ------------------------------------------------------------------ */

#tuesday {
   background: #eee;
   padding-top: 96px;
   padding-bottom: 54px;
   overflow: hidden;
}
/* ------------------------------------------------------------------ */
/* Wednesday Section
/* ------------------------------------------------------------------ */

#wednesday {
   background: #fff;
   padding-top: 96px;
   padding-bottom: 54px;
   overflow: hidden;
}
/* ------------------------------------------------------------------ */
/* Thursday Section
/* ------------------------------------------------------------------ */

#thursday {
   background: #eee;
   padding-top: 96px;
   padding-bottom: 54px;
   overflow: hidden;
}
/* ------------------------------------------------------------------ */
/* Friday Section
/* ------------------------------------------------------------------ */

#friday {
   background: #fff;
   padding-top: 96px;
   padding-bottom: 54px;
   overflow: hidden;
}



