<!-- CS19 splinter session template-->
<!-- The first thing you should do, is to search for all the occurences of "TO-DO" -->
<!-- in this document, it will bring you to where changes need to be made for sure. -->

<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- TO-DO: Change the title of the page here-->
	<title>CS19 SPLINTER TEMPLATE</title>

	<!-- Stylesheet and javascript are called here -->
	<link rel="stylesheet" href="../../css/foundation.css" />
	<link rel="stylesheet" href="../../css/layout.css" />

	<script src="../../js/vendor/modernizr.js"></script>
	<!--script src="../../js/vendor/stickyFooter.js"></script-->
</head> <!-- end of the header -->

<body> <!-- beginning of the body -->

	<div class="fixed"> <!-- beginning of the top navigation bar -->
		<nav class="top-bar" data-topbar role="navigation">
			<ul class="title-area">
			    <li class="name">
   	   			<p><a href="../../index.html">CS19</a></p>
   	 		</li>
				<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> <!-- Mobile navigation -->
			</ul>
			<section class="top-bar-section">
				<!-- Left Nav Section -->
				<ul class="left">
					<li><a href="../../index.html">home</a></li>
					<li><a href="../../about.html">about</a></li>
					<li><a href="../../news.html">news</a></li>
					<li><a href="../../registration.html">registration</a></li>
					<li class="active"><a href="../../splinters.html">splinters</a></li>
					<li><a href="../../logistics.html">logistics</a></li>
					<li><a href="../../committees.html">committees</a></li>
					<li><a href="../../contact.html">contact</a></li>
				</ul>
			</section>
		</nav>
	</div> <!-- end fixed div for top-bar-->

	<!-- Navigation breadcrumbs-->
	<nav class="breadcrumbs">
		<a href="../../index.html">home</a>
		<a href="../../splinters.html">splinters</a>
		<a href="#"><strong>SPLINTER TEMPLATE</strong></a> <!-- TO-DO: Put the name of your splinter here-->
	</nav>

	<!-- Beginning of the content -->

	<!-- Here goes the title-->
	<div class="row">
		<div class="small-12 columns"> <!-- full width column header-->
			<h1 align="right">
				The name of your splinter session <!-- TO-DO: replace by the name of the splinter-->
			</h1>
			<!-- vertical line -->
			<hr />
			<h2 align="right">
				A COOL STARS 19 splinter session
			</h2>

			<!-- where and when -->
			<p align="right" class="whenwhere">
				<em>07 June 2016 14:00 - 18:00 || UKK Room #n <!-- TO-DO: replace with actual date and place -->
				</em>
			</p>
			<br/>
		</div> <!-- end class 12 col-->
	</div> <!-- end class="row"-->
	<div class="row">
		<div class="small-12 columns">
			<h3>
				Session organizers
			</h3>
			<!-- TO-DO: update the list below with the true organizers of your splinter session -->
			<ul>
				<li>Greg Feiden (Unseen University)</li>
				<li>Alexis Lavail (Ministry of Love)</li>
				<li>Thomas Nordlander (Hogwarts)</li>
				<li>Sofie Liljegren (United Galaxy)</li>
			</ul>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="small-12 columns">
			<h3>
				Scientific Motivation
			</h3>
			<!-- TO-DO: Replace this extract from "The fall of the house of Usher" with your actual Scientific motivation -->
			<p>
			DURING the whole of a dull, dark, and soundless day in the autumn of the year, when the clouds hung oppressively low in the heavens, I had been passing alone,
			on horseback, through a singularly dreary tract of country, and at length found myself, as the shades of the evening drew on, within view of the melancholy
			House of Usher. I know not how it was—but, with the first glimpse of the building, a sense of insufferable gloom pervaded my spirit. I say insufferable;
			for the feeling was unrelieved by any of that half-pleasurable, because poetic, sentiment, with which the mind usually receives even the sternest natural images
			of the desolate or terrible. I looked upon the scene before me—upon the mere house, and the simple landscape features of the domain—upon the bleak walls—upon
			the vacant eye-like windows—upon a few rank sedges—and upon a few white trunks of decayed trees—with an utter depression of soul which I can compare to no
			earthly sensation more properly than to the after-dream of the reveller upon opium—the bitter lapse into every-day life—the hideous dropping off of the veil.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<h3>
				Program (click for abstracts)
			</h3>
			<!-- TO-DO: you are a clever human, you surely noticed the program below is full of "The fall of the House of Usher" again. Fix that, will you? -->
			<ul class="accordion" data-accordion>
  				<li class="accordion-navigation">
    				<a href="#panel1a">14:00 - 14:15 | <strong>Introduction</strong></a>
    				<div id="panel1a" class="content">
      					There was an iciness, a sinking, a sickening of the heart—an unredeemed dreariness of thought which no goading of the imagination could torture into aught of the sublime. What was it—I paused to think—what was it that so unnerved me in the contemplation of the House of Usher? It was a mystery all insoluble; nor could I grapple with the shadowy fancies that crowded upon me as I pondered. I was forced to fall back upon the unsatisfactory conclusion, that while, beyond doubt, there are combinations of very simple natural objects which have the power of thus affecting us, still the analysis of this power lies among considerations beyond our depth.
    				</div>
  				</li>
  				<li class="accordion-navigation">
   					<a href="#panel2a">14:15 - 15:00 | <strong>Greg Feiden: Pushing evolution models to the limit</strong></a>
    				<div id="panel2a" class="content">
     					It was possible, I reflected, that a mere different arrangement of the particulars of the scene, of the details of the picture, would be sufficient to modify, or perhaps to annihilate its capacity for sorrowful impression; and, acting upon this idea, I reined my horse to the precipitous brink of a black and lurid tarn that lay in unruffled lustre by the dwelling, and gazed down—but with a shudder even more thrilling than before—upon the remodelled and inverted images of the gray sedge, and the ghastly tree-stems, and the vacant and eye-like windows.
    				</div>
  				</li>
 				<li class="accordion-navigation">
    				<a href="#panel3a">15:00 - 15:45 | <strong>Alexis Lavail: Observing magnetic fields like a pro</strong></a>
    				<div id="panel3a" class="content">
      					Nevertheless, in this mansion of gloom I now proposed to myself a sojourn of some weeks. Its proprietor, Roderick Usher, had been one of my boon companions in boyhood; but many years had elapsed since our last meeting. A letter, however, had lately reached me in a distant part of the country—a letter from him—which, in its wildly importunate nature, had admitted of no other than a personal reply. The MS. gave evidence of nervous agitation. The writer spoke of acute bodily illness—of a mental disorder which oppressed him—and of an earnest desire to see me, as his best and indeed his only personal friend, with a view of attempting, by the cheerfulness of my society, some alleviation of his malady. It was the manner in which all this, and much more, was said—it was the apparent heart that went with his request—which allowed me no room for hesitation; and I accordingly obeyed forthwith what I still considered a very singular summons.
    				</div>
  				</li>
  				<li class="accordion-navigation">
    				<a href="#panel4a">15:45 - 16:00 | <strong>Coffee break</strong></a>
    				<div id="panel4a" class="content">
      					Although, as boys, we had been even intimate associates, yet I really knew little of my friend. His reserve had been always excessive and habitual. I was aware, however, that his very ancient family had been noted, time out of mind, for a peculiar sensibility of temperament, displaying itself, through long ages, in many works of exalted art, and manifested, of late, in repeated deeds of munificent yet unobtrusive charity, as well as in a passionate devotion to the intricacies, perhaps even more than to the orthodox and easily recognizable beauties, of musical science. I had learned, too, the very remarkable fact, that the stem of the Usher race, all time-honored as it was, had put forth, at no period, any enduring branch; in other words, that the entire family lay in the direct line of descent, and had always, with very trifling and very temporary variation, so lain.
    				</div>
  				</li>
			</ul>
		</div>
	</div>

	<br/>
	<div class="row">
		<div class="small-12 columns">
			<h3>
				Contact
			</h3>
			<!-- TO-DO: Everybody knows there is no Greg Feiden at Unseen University. Fix that and put a real contact person below right! -->
			<p>
				Questions about this splinter session can be directed to <a href="mailto:greg.feiden@unseen.ankh">greg.feiden@unseen.ankh</a>
			</p>
		</div>
	</div>

	<div class="row">
	  <div class="small-12 columns">
	    <h3>
	      Invited speakers
	    </h3>
			<div data-interchange="[small.html, (default)], [medium.html, (medium)]">
				<ul>
					<li>Greg Feiden (Unseen University)</li>
					<li>Alexis Lavail (Ministry of Love)</li>
				</ul>
			</div>
	  </div>
	</div>

	<footer>
		<div class="row">
			<div class="small-6 columns">
				<h1 align="right"><a href="https://twitter.com/hashtag/cs19" target="_blank"><i class="fi-social-twitter"></i></a></h1>
			</div>
			<div class="small-6 columns">
				<h1 align="left"><a href="https://www.facebook.com/groups/1464538487100756/" target="_blank"><i class="fi-social-facebook"></i></a></h1>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<p align="center" class="copyright">
					&copy; Cool Stars 19 | website powered by Foundation 5<br/>
					<code>last updated : 2015-07-02</code> <!-- TO-DO: update this part everytime you change the page. -->
				</p>
			</div>
		</div>
	</footer>
    <script src="../../js/vendor/jquery.js"></script>
    <script src="../../js/vendor/fastclick.js"></script>
    <script src="../../js/vendor/stickyFooter.js"></script>
    <script src="../../js/foundation/foundation.min.js"></script>

	<script>
		$(document).foundation();
	</script>
</body>
</html>
