<div id="card-collection">
  <div id="card">
    <div class="head" style="background-image: url('../../images/heads/GFeiden.jpeg')"></div>
    <h2>Gregory Feiden</h2>
    <h3>Unseen University</h3>
    <h1>
        <a href="https://twitter.com/GFeiden" target="_blank"><i class="fi-social-twitter"></i></a>&nbsp;
        <a href="https://github.com/gfeiden" target="_blank"><i class="fi-social-github"></i></a>
    </h1>
  </div>
  <div id="card">
    <div class="head" style="background-image: url('../../images/heads/ALavail.jpg')"></div>
    <h2>Alexis Lavail</h2>
    <h3>Ministry of Love</h3>
    <h1>
        <a href="https://twitter.com/astro_alexis" target="_blank"><i class="fi-social-twitter"></i></a>&nbsp;
        <a href="https://github.com/astro-alexis" target="_blank"><i class="fi-social-github"></i></a>
    </h1>
  </div>
</div>
